<div class="headersearch-card">
    <div class="search-container">
        <img class="icon" alt="" src="Icon.svg">

        <div class="title">Chủ đề</div>
    </div>


    <div>
        <div class='still-tags-container'></div>
        <script type="module">
            import { still_tags_loader_with_link, still_tags_loader_no_link } from '../scripts/tags_loader.js';

            const container = document.querySelector('.still-tags-container');

            // Thêm 1 tag mới vào container, cú pháp : {text: 'Tên tag', link: 'Đường dẫn đến trang web'}

            still_tags_loader_with_link(container, [
                {
                    text: 'Syaro',
                    link: 'https://www.youtube.com/',
                },
                {
                    text: 'Fubuki-chan',
                    link: 'https://www.youtube.com/',
                },
            ])

            // Hoặc nếu không cần link thì dùng hàm này
            still_tags_loader_no_link(container, ['Kaguya', 'Miku', 'Gura', 'Aqua', 'Mori Calliope', 'Nene', 'Pekora', 'Kanata', 'Coco', 'Watame', 'Aki', 'Matsuri', 'Subaru', 'Choco', 'Roboco', 'Okayu', 'Korone', 'Marine', 'Luna', 'Sora', 'Aqua-chan', 'Miko-chan', 'Nene-chan', 'Pekora-chan']);
        </script>
    </div>

    
    <div class="search-container">
        <img class="icon" alt="" src="Icon.svg">

        <div class="title">Các post liên quan</div>
    </div>

    
    <div class="content-card">
        <div class="title1">Duolingo: Hành Trình Tạo Dựng Sản Phẩm Công Nghệ Và Thay Đổi Tư Duy Về Kỹ Thuật Phần Mềm
        </div>
        <div class="card-footer">
            <div class="author">
                <img class="account-circle-icon" alt="" src="Account circle.svg">

                <div class="author-name">Lê Đăng Tấn</div>
            </div>
            <div class="date">
                <img class="account-circle-icon" alt="" src="Access time filled.svg">

                <div class="author-name">16 tháng 02 2025, 19:20</div>
            </div>
            <div class="view">
                <img class="account-circle-icon" alt="" src="Remove red eye.svg">

                <div class="author-name">12,3k</div>
            </div>
        </div>
    </div>
    <div class="content-card">
        <div class="title1">Duolingo: Hành Trình Tạo Dựng Sản Phẩm Công Nghệ Và Thay Đổi Tư Duy Về Kỹ Thuật Phần Mềm
        </div>
        <div class="card-footer">
            <div class="author">
                <img class="account-circle-icon" alt="" src="Account circle.svg">

                <div class="author-name">Lê Đăng Tấn</div>
            </div>
            <div class="date">
                <img class="account-circle-icon" alt="" src="Access time filled.svg">

                <div class="author-name">16 tháng 02 2025, 19:20</div>
            </div>
            <div class="view">
                <img class="account-circle-icon" alt="" src="Remove red eye.svg">

                <div class="author-name">12,3k</div>
            </div>
        </div>
    </div>
    <div class="content-card">
        <div class="title1">Duolingo: Hành Trình Tạo Dựng Sản Phẩm Công Nghệ Và Thay Đổi Tư Duy Về Kỹ Thuật Phần Mềm
        </div>
        <div class="card-footer">
            <div class="author">
                <img class="account-circle-icon" alt="" src="Account circle.svg">

                <div class="author-name">Lê Đăng Tấn</div>
            </div>
            <div class="date">
                <img class="account-circle-icon" alt="" src="Access time filled.svg">

                <div class="author-name">16 tháng 02 2025, 19:20</div>
            </div>
            <div class="view">
                <img class="account-circle-icon" alt="" src="Remove red eye.svg">

                <div class="author-name">12,3k</div>
            </div>
        </div>
    </div>
    <div class="search-container">
        <img class="icon" alt="" src="Icon.svg">

        <div class="title">Nhà nghiên cứu</div>
    </div>
    <div class="profile-card">
        <div class="person-info">
            <img class="person-info-child" alt="" src="Ellipse 5.png">

            <div class="person-details">
                <div class="person-name">Lê Đăng Tấn</div>
                <div class="person-handle">@realdangtan</div>
            </div>
        </div>
        <div class="follow-button">
            <img class="add-circle-outline" alt="" src="Add circle outline.svg">

            <div class="follow-button-text">Theo dõi</div>
        </div>
    </div>
    <div class="profile-card">
        <div class="person-info">
            <img class="person-info-child" alt="" src="Ellipse 5.png">

            <div class="person-details">
                <div class="person-name">Lê Đăng Tấn</div>
                <div class="person-handle">@realdangtan</div>
            </div>
        </div>
        <div class="follow-button">
            <img class="add-circle-outline" alt="" src="Add circle outline.svg">

            <div class="follow-button-text">Theo dõi</div>
        </div>
    </div>
    <div class="profile-card">
        <div class="person-info">
            <img class="person-info-child" alt="" src="Ellipse 5.png">

            <div class="person-details">
                <div class="person-name">Lê Đăng Tấn</div>
                <div class="person-handle">@realdangtan</div>
            </div>
        </div>
        <div class="follow-button">
            <img class="add-circle-outline" alt="" src="Add circle outline.svg">

            <div class="follow-button-text">Theo dõi</div>
        </div>
    </div>
</div>