@import url('tokens.css');

body {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.research-title {
	position: relative;
}
.research-description {
	width: 727px;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
}
.research-section {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
}
.background-image {
	width: 100%;
	position: absolute;
	margin: 0 !important;
	top: 0px;
	right: -1440px;
	left: 0px;
	height: 440px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 140px 0px 0px;
	box-sizing: border-box;
	background-image: url("../assets/images/imgKhoNghienCuuHero.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	text-align: left;
	font-size: 96px;
	color: #fff;
	font-family: 'Roboto Serif';
}



.topic-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: var(--spacing-2);
	align-self: center;
	width: 80%;
}

.topic-nav div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-3);
	padding: var(--spacing-2) 0;
	cursor: pointer;
}

.topic-nav div span {
	border-radius: 999px;
	padding: var(--spacing-2) var(--spacing-3);
}

.research-vault-container {
	display: flex;
	align-self: center;
	flex-direction: row;
	justify-content: center;
	gap: var(--spacing-2);
	width: 80%;
	min-height: 100vh;
}

.research-vault-container .research-vault-content-card {
	display: none;
	flex-direction: column;
	padding: var(--spacing-4) 0;
	gap: var(--spacing-4);
}

.research-vault-container .research-vault-sticky {
    display: flex;
    position: sticky;
	align-self: flex-start;
    top: var(--spacing-3);

    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--spacing-2);
    padding: var(--spacing-4) 0;
    height: fit-content;
}

.research-vault-container .research-vault-sticky .hot-exploration-tab,
.research-vault-container .research-vault-sticky .people-suggesion {
	border: 2px solid var(--color-brand-primary);
	border-radius: 16px;
	gap: var(--spacing-3);
	padding: var(--spacing-4) var(--spacing-5);
	width: 100%;
	flex-wrap: wrap;
	overflow: hidden;
}

.still-content-tag {
	padding: var(--spacing-1) var(--spacing-2) !important;
}

.friend-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: var(--spacing-2);
	padding: var(--spacing-2) var(--spacing-1);
	background-color: var(--color-brand-opacity15);
	border-radius: 999px;
}

.topic-nav .active {
	background-color: var(--color-brand-opacity15)
}

.research-vault-container .active {
	display: flex;
}

.add-circle-outline {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}
.icon {
	width: 24px;
	position: relative;
	height: 24px;
	overflow: hidden;
	flex-shrink: 0;
}
.button-text {
	position: relative;
	font-weight: 500;
}
.button {
	font-family: inherit;
	border: none;
	border-radius: 16px;
	background-color: var(--color-brand-primary);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-2) var(--spacing-4);
	gap: var(--spacing-1);
	box-sizing: border-box; 
}

